
body {
    background-color:rgb(82, 49, 124);
    color: rgb(195, 205, 214);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#navi {
    color: rgb(195, 205, 214);
    font-size: 24px;
}

ul {
    list-style: none;
    padding-left: 0%;
}

ul li {
    display: inline-block;
    padding-left: 0%;
    padding-right: 5px;
}

ul li ul.dropdown li {
    display: block;

}

ul li ul.dropdown {
    display: none;
    position: absolute;
}

ul li a {
    color: rgb(195, 205, 214);
    height: 40px;
    padding-left: 15px;
    display: block;
}

ul li a:hover {
    color:rgb(115, 139, 206);
    cursor: pointer;
}

ul li:hover ul.dropdown {
    display: block;
    z-index: 10;
}


#viewer {
    display: none;
}

#standard {
    z-index: 0;
    position: absolute;
}


#bookForm {
    position: absolute;
    z-index: 10;
    border: solid;
    border-color: black;
    border-width: 3px;
    color: rgb(0, 0, 0);
    background-color: rgb(149, 147, 182);
    width: 25;
    padding: 30px;
}

#unreadNotif {
    font-size: 12px;
}

#allBooks {
    display: none;
    position: absolute;
}

#testTable {
    display: none;
    position: relative;
}

th {
    border-bottom: 1px solid rgb(206, 206, 206);
}

th, td {
    padding-right: 5px;
}

